<!doctype html>

<meta charset="utf-8">

<link id="generic-css-dark"  rel="stylesheet" type="text/css" href="{{ '/static/generic-dark.css'|url }}"/>
<link id="generic-css-light" rel="stylesheet" type="text/css" href="{{ '/static/generic-light.css'|url }}"/>
<script type="text/javascript" src="{{ '/static/generic-css.js'|url }}"></script>
<title>{% block title %}Welcome{% endblock %} — mutable.cc</title>
<body>
  <header>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
        %}><b><a href="{{ '/'|url }}">Welcome</a></b></li>
        {% for href, title in [
          ['/x', 'Blog'],
          ['/projects', 'Projects'],
          ['/contact', 'Contact'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
          %}><b><a href="{{ href|url }}">{{ title }}</a></b></li>
        {% endfor %}
          <li><button onclick='genericCSSToggle("light")'>Light</button></li>
          <li><button onclick='genericCSSToggle("dark")'>Dark</button></li>
      </ul>
    </nav>
  </header>
  {% if this.title != "" %}<h1>{{ this.title }}</h1>{% endif %}
  <div class="page">{% block body %}{% endblock %}</div>
  <footer>
    <br />
    &copy; Copyright 2022 by mutable.cc.
  </footer>
</body>
